<div class="group-hd">
    <ul class="top-bar order-md-1">
        <li><a href="tel:1800818728"><img src="/assets/images/phone-call.svg" alt="phone call"> 1800 818 728</a>
        </li>
        <li><a (click)="makebooking()"><img src="/assets/images/calendar-alt.svg" alt="Make a booking">
                Make a
                booking</a></li>

        <li><a  (click)="ClickInstantchattop()" ><img src="/assets/images/chat.svg"
                    alt="Chat Now">Chat Now</a></li>
    </ul>
    <h1>Home</h1>
</div>
<div *ngIf="isLoad" class="loader-overlay">
    <div class="loader1"></div>
  </div>
<div class="white-board">
    <div *ngIf="sucussmsg" class="month-heading"><img src="/assets/images/calendar-alt.svg" alt="calendar" /> This Month</div>
    <div *ngIf="!sucussmsg" class="month-heading mt-3">
        <div class="alert-danger"><img src="/assets/images/calendar-alt-red.svg" alt="calendar"/> <span>Your appointment has been cancelled.</span></div>
    </div>
    <div class="clear-div">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="session-box">
                    <div class="session-dropdown"></div>
                    <div class="session-left">
                        <span>&nbsp;</span>
                    </div>
                    <div  class="session-right">
                        <h3>Session Allowance : {{ClientDashboardSessions?.AllowedAppts}}</h3>
                        <h3 class="red-clr">Sessions Used: {{ClientDashboardSessions?.UsedAppts}}</h3>
                        <h3 class="blue-clr">Sessions Remaining: {{ClientDashboardSessions?.AllowedAppts - ClientDashboardSessions?.UsedAppts<0?0:ClientDashboardSessions.AllowedAppts - ClientDashboardSessions.UsedAppts}} </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of CurrentmonthAppts" >
                <div class="session-box" >
                    <div class="session-dropdown">
                        <a href="#" data-toggle="dropdown" *ngIf="!item.IsPast">
                            <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                        </a>
                        <div class="dropdown-menu"  *ngIf="!item.IsPast">
                            <a *ngIf="((item.ActivityName =='Live Chat ')||(item.ActivityName =='Scheduled Chat '))" class="dropdown-item" routerLink="/dashboard/chatroom/{{item.ACEAppointmentId}}">Go To Appointment</a>
                            <a class="dropdown-item" *ngIf="item.ActivityName=='Video Chat'" href="#"
                  routerLink="/dashboard/videochatroom/{{item.ACEAppointmentId}}">Go To Appointment</a>
                            <!-- /<a *ngIf="!item.IsPast" class="dropdown-item"  (click)="ChangeAppointment(item.ACEAppointmentId)">Change Appointment</a> -->
                            <a  class="dropdown-item" (click)="onChangeAppointment(item)"  data-toggle="modal" data-target="#Cancel-Appointment">Change Appointment</a>
                        </div>
                    </div>
                    <div class="modal fade small-modal" id="Cancel-Appointment">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-body">
                              <div class="cancel-apntmnt">
                                <p>Are you sure you want to change your appointment? We'll have to cancel it and you can schedule a new one.</p>
                                <p>Please be advised that any appointments cancelled within 24 hours of your session will count towards your allocated session quota.</p>
                                <div class="btn-grp">
                                  <a (click)="ChangeAppointment()" class="btn appoint-btn" data-dismiss="modal">Yes. Cancel Appointment.</a>
                                </div>
                                <div class="btn-grp">
                                  <a href="#" class="cancel-text-link" data-dismiss="modal">Cancel</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="session-left">

                            <span class="blue-bg" *ngIf="item.ActivityName =='Video Chat'" >&nbsp;</span>
                            <span class="green-bg" *ngIf="item.ActivityName =='Live Chat '">&nbsp;</span>
                            <span class="gry-bg" *ngIf="item.ActivityName =='Face to Face Chat'">&nbsp;</span>
                            <span class="sky-bg" *ngIf="item.ActivityName =='Telephone Chat'">&nbsp;</span>
                            <span class="green-bg" *ngIf="item.ActivityName =='Scheduled Chat '">&nbsp;</span>

                    </div>
                    <div class="session-right">
                        <h3 *ngIf="item.ActivityName=='Video Chat'">Video</h3>
                        <h3 *ngIf="item.ActivityName=='Scheduled Chat '">AccessChat</h3>
                        <h3 *ngIf="item.ActivityName =='Live Chat '">Live Chat</h3>
                        <h3 *ngIf="item.ActivityName =='Telephone Chat'">Phone</h3>
                        <h3 *ngIf="item.ActivityName =='Face to Face Chat'">Face to Face</h3>
                        <p>{{item.startDate}} {{item.startTime}}</p>
                        <p>Counsellor: <strong>{{item.CounsellorName}}</strong></p>
                        <p *ngIf=item.IsForFamilyMember>Meeting with: {{item.FMFirstName}}</p>
                <p  *ngIf=!item.IsForFamilyMember>Meeting with: {{item.Username}}</p>
                        <!-- <p>Meeting with: {{item.Username}}</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div  *ngIf="showquataEmptymsg" >
            <div class="modal" style="display: block!important;background: rgba(255, 255, 255, 0.5);">
             <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                 <div class="modal-body">
                     <div class="cancel-apntmnt" style='text-align: center;
                     padding-top: 37px;'>
                        <img _ngcontent-c10=""  src="/assets/images/cross_icon.svg" class="edit-btn1" (click)="closeModel()">
                         <p>Your booking quota is finished</p>
                         <!-- <div class="btn-grp">
                             <a href="javascript:;" (click)="Yesmodelchatend()" class="btn appoint-btn" data-dismiss="modal">Yes</a>
                         </div> -->
                         <!-- <div class="btn-grp">
                            <a href="javascript:;" class="cancel-text-link" (click)="closeModel()">Cancel</a>
                        </div> -->
                     </div>
                 </div>
               </div>
             </div>
         </div>

         </div>
    </div>
</div>
