<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<div  class="white-bg">
<div class="lr-header">
  <div class="container-fluid">
    <figure class="lr-logo"><a routerLink=""><img style="max-width:150px;" src="/assets/images/logo.svg" alt="AccessEAP People in focus Counselling & Chat Portal" title="AccessEAP People in focus Counselling & Chat Portal"></a>
      <figcaption style="color:#153472">Online Wellbeing</figcaption></figure>
    </div>
</div>

<div class="left-image">
  <img src="/assets/images/login-register/left-image.png" class="d-none d-lg-block" alt="img">
  <img src="/assets/images/login-register/wap-image.jpg" class="d-block d-lg-none" alt="img">
</div>

<div class="lr-middle" style="position: absolute;top: 13%;">
   <div class="container"> 
       <div class="lr-form-main">
          <div class="reg-info">
              <h2>Thanks. We were able to verify your account. To get you started, we need a few details.</h2>
            </div>
            
            <div class="form-box">
              <div class="row">
                  <div class="col-md-6 form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="/assets/images/login-register/building.svg" alt="building"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Group">
                            <p class="info-txt">The group within your company you work in</p>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="/assets/images/login-register/group.svg" alt="building"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Division">
                            <p class="info-txt">The division within your company you work in</p>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="/assets/images/login-register/two-people.svg" alt="building"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Department">
                            <p class="info-txt">The department within your company you work in</p>
                        </div>
                    </div>
                    
                    <div class="col-md-12 form-group confirm-txt">
                      By registering you confirm that you accept the <a href="https://www.accesseap.com.au/services/faq">FAQs </a> and <a href="https://www.accesseap.com.au/resources/privacy-policy">Privacy Policy</a>
                    </div>                        
                    <div class="col-md-12 form-group">                      
                      <a routerLink="/signupB" class="btn appoint-btn">Register</a>
                    </div>                        
                </div>
            </div>                
        </div>
   </div>
</div>  

<div class="lr-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-3 order-md-2 lr-social">
              <a href="#" target="_blank"><img src="/assets/images/linkedin.svg" alt="AccessEAP"></a>                    
              <a href="#" target="_blank"><img src="/assets/images/twitter.svg" alt="AccessEAP"></a>
            </div>
            <div class="col-md-4 order-md-1 pc-links">
              <a href="https://www.accesseap.com.au/resources/privacy-policy">Privacy Policy</a>
                <a href="https://www.accesseap.com.au/contact-us">Contact us</a>
            </div>
            <div class="col-md-5 order-md-0 lr-copy">
              <p>Copyright © AccessEAP. All rights reserved.</p>  
            </div>                
        </div>
    </div>
</div>
</div>

