<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<div  class="white-bg">
<div class="lr-header">
    <div class="container-fluid">
        <figure class="lr-logo l-logo"><a routerLink=""><img style="max-width:150px;" src="/assets/images/logo.svg" alt="AccessEAP People in focus Counselling & Chat Portal"
                    title="AccessEAP People in focus Counselling & Chat Portal"></a>
                    <figcaption style="color:#153472">Online Wellbeing</figcaption></figure>
    </div>
</div>

<div class="right-image">
    <img src="/assets/images/login-register/right-image.png" class="d-none d-lg-block" alt="img">
    <img src="/assets/images/login-register/wap-image.jpg" class="d-block d-lg-none" alt="img">
</div>
<div *ngIf="showMsg" class="lr-middle">
    <div class="container">
        <div class="lr-form-main login-form">
            <div class="reg-info">
                <h2>Your link has expired.Please try again</h2>
            </div>
            <div class="form-box ls-links">
                <a routerLink="/forgot">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showForm" class="lr-middle">
    <div class="container">
        <div class="lr-form-main login-form">
            <div class="reg-info">
            </div>
            <form name="form" (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
                <div class="form-box">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/login-register/unlock.svg"
                                            alt="email"></span>
                                </div>
                                <input type="password" class="form-control" name="Password" [(ngModel)]="Password" #Passwordtext="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Passwordtext.invalid }" 
               placeholder="New Password" required minlength="8"/>
               <div *ngIf="f.submitted && Passwordtext.invalid" class="invalid-feedback">
                <div *ngIf="Passwordtext.errors.minlength">Password must be at least 8 characters</div>
            </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><img src="/assets/images/login-register/unlock.svg"
                                          alt="email"></span>
                              </div>
                              <input type="password" class="form-control" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" #ConfirmPasswordtext="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ConfirmPasswordtext.invalid }"
                              placeholder="Confirm Password" required  />
                          </div>
                          
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn appoint-btn">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
    <div class="lr-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 order-md-2 lr-social">
                    <a href="#" target="_blank"><img src="/assets/images/linkedin.svg" alt="AccessEAP"></a>
                    <a href="#" target="_blank"><img src="/assets/images/twitter.svg" alt="AccessEAP"></a>
                </div>
                <div class="col-md-4 order-md-1 pc-links">
                    <a href="https://www.accesseap.com.au/resources/privacy-policy">Privacy Policy</a>
                    <a href="https://www.accesseap.com.au/contact-us">Contact us</a>
                </div>
                <div class="col-md-5 order-md-0 lr-copy">
                    <p>Copyright © AccessEAP. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<toaster-container [toasterconfig]="config">
</toaster-container>