<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="logs\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
  </extensions>
  <variable name="generalLayout" value="${longdate}|${mdlc:item=scope}|${threadid}|${level:uppercase=true}|${logger:shortName=true}|${message}|${exception:format=ToString}"/>
  <variable name="logDir" value="${basedir}/logs"/>
  <targets>
    <target name="file" xsi:type="File" fileName="${logDir}/${date:format=yyMMdd}/${shortdate}.log" encoding="utf-8" layout="${generalLayout}"
    maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1000000000" archiveFileName="${logDir}/{#######}.a" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>