<div class="app flex-row align-items-center eap-PMS-Cool-Gray-4 cls-login">
    
  <div class="container">
      <img class="navbar-brand-full cls-login-logo" src="assets/images/AccessEAPLogo.svg" alt="AccessEAP Logo">
    <div class="row justify-content-center">

      <div  class="col-md-5 login-page">
        <div class="card-group">
            
          <div class="card p-4">
            <div class="card-body">
              <h1>{{Message}}</h1>
            </div>
          </div>
     
        </div>

      </div>
   
    

    </div>
  </div>

</div>