<div class="group-hd">
  <!-- <ul class="top-bar order-md-1">
    <li><a href="#"><img src="/assets/images/phone-call.svg" alt="phone call"> 1800 818 728</a></li>
    <li><a href="make-a-booking.html"><img src="/assets/images/calendar-alt.svg" alt="Make a booking"> Make a booking</a></li>
    <li><a href="#"><img src="/assets/images/chat.svg" alt="Instant Chat"> Instant Chat</a></li>
  </ul> -->
  <h1>Booking History</h1>
</div>

<div class="white-board">
  <div class="month-heading"><img src="/assets/images/nature-people.svg" alt="My Appointments"> My Appointments</div>
  <div class="clear-div">
    <div class="row">
      <div *ngFor="let item of bookinghtyown" class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="blue-bg" *ngIf="item.ActivityName =='Video Chat'" >&nbsp;</span>
            <span class="green-bg" *ngIf="item.ActivityName =='Live Chat'">&nbsp;</span>
            <span class="gry-bg" *ngIf="item.ActivityName =='Face to Face Chat'">&nbsp;</span>
            <span class="sky-bg" *ngIf="item.ActivityName =='Telephone Chat'">&nbsp;</span>
            <span class="green-bg" *ngIf="item.ActivityName =='Live Chat'">&nbsp;</span>
            <span class="green-bg" *ngIf="item.ActivityName =='Scheduled Chat '">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3 *ngIf="item.ActivityName=='Video Chat'">Video</h3>
                <h3 *ngIf="item.ActivityName=='Scheduled Chat '">AccessChat</h3>
                <h3 *ngIf="item.ActivityName =='Live Chat '">Live Chat</h3>
                <h3 *ngIf="item.ActivityName =='Telephone Chat'">Phone</h3>
                <h3 *ngIf="item.ActivityName =='Face to Face Chat'">Face to Face</h3>
            <p>{{item.startDate}} {{item.startTime}}</p>
            <p>Client: <strong>{{item.Username}}</strong></p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="blue-bg">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>Video Chat Appointment</h3>
            <p>March 20th, 2019. 4:00pm</p>
            <p>Counsellor: <strong>Samantha Hays</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="blue-bg">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>Video Chat Appointment</h3>
            <p>March 20th, 2019. 4:00pm</p>
            <p>Counsellor: <strong>Samantha Hays</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="green-bg">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>Video Chat Appointment</h3>
            <p>March 20th, 2019. 4:00pm</p>
            <p>Counsellor: <strong>Samantha Hays</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="sky-bg">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>Video Chat Appointment</h3>
            <p>March 20th, 2019. 4:00pm</p>
            <p>Counsellor: <strong>Samantha Hays</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="session-box pt-3">
          <div class="session-left">
            <span class="gry-bg">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>Video Chat Appointment</h3>
            <p>March 20th, 2019. 4:00pm</p>
            <p>Counsellor: <strong>Samantha Hays</strong></p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="white-board">
  <div class="month-heading"><img src="/assets/images/people.svg" alt="My Appointments"> Family Members' Appointments</div>
  <div class="clear-div">
    <div class="row">
     
      <div *ngFor="let item of bookinghtyfamily" class="col-md-6 col-lg-4 col-xl-4">
        <div  class="session-box pt-3">
          <div class="session-left">
            <span class="blue-bg" *ngIf="item.ActivityName =='Video Chat'" >&nbsp;</span>
            <span class="green-bg" *ngIf="item.ActivityName =='Live Chat '">&nbsp;</span>
            <span class="gry-bg" *ngIf="item.ActivityName =='Face to Face Chat'">&nbsp;</span>
            <span class="sky-bg" *ngIf="item.ActivityName =='Telephone Chat'">&nbsp;</span>
          </div>
          <div class="session-right">
            <h3>{{item.ActivityName}}</h3>
            <p>{{item.startDate}} {{item.startTime}}</p>
            <p>Client: <strong>{{item.Username}}</strong></p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div> -->